<a href="https://colab.research.google.com/github/ripunjai541/coding/blob/master/basic%20programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input())
rev=0
while n>0:
  rem=n%10
  rev=rem+rev*10
  n=n//10
print("reverse=",rev)

123
reverse= 321

In [ ]:
n=int(input())
temp=n
rev=0
while n>0:
  rem=n%10
  rev=rem+rev*10
  n=n//10
if temp==rev:
  print("palindrome")
else:
  print("not palindrome")

121
palindrome

In [ ]:
n=int(input())
temp=n
d=len(str(n))
sum=0
while n>0:
  rem=n%10
  sum=sum+rem**d
  n=n//10
if temp==sum:
  print("armstrong")
else:
  print("not armstrong")

153
armstrong

In [ ]:
n=int(input())
sq=n**2
sum=0
while sq>0:
  r=sq%10
  sum=sum+r
  sq=sq//10
if sum==n:
  print("neon number")
else:
  print("not neon number")

16
not neon number

In [ ]:
n=int(input())
f=1
for i in range(1,n+1):
  f=f*i
print("factorial=",f)

6
factorial= 720

In [ ]:
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

In [ ]:
n=int(input())
m=int(input())
p=pow(n,m)
print("power=",p)

2
3
power= 8

In [ ]:
n=int(input())
for i in range(1,n+1):
  if n%i==0:
    print(i,sep=" ")

6
1
2
3
6

In [ ]:
n=10
b=bin(n)
print(b)

0b1010

In [ ]:
n=int(input())
if n>=0 and n<=90:
    print("Q1")
elif n>=91 and n<=180:
    print("Q2")
elif n>=181 and n<=270:
    print("Q3")
else:
    print("Q4")

91
Q2

In [ ]:
n=int(input("enter range"))
n1=0
n2=1
print(n1,n2,end=" ")
for i in range(2,n):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3,end=" ")

enter range10
0 1 1 2 3 5 8 13 21 34

In [ ]:
low, high = 10, 10000
for n in range(low, high + 1):


    order = len(str(n))

    sum = 0

    temp = n
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10

    if n == sum:
        print(n, end=" ")

153 370 371 407 1634 8208 9474

In [ ]:
n=int(input())
sum=n*(n+1)/2
print(sum)

10
55.0

In [ ]:
n=int(input())
for i in range(1,11):
  print(n,"*",i,"=",n*i)
  i+=1

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
my_list=[16,24,54,23,12,28]
num=list(filter(lambda x:(x%12==0),my_list))
num.sort()
print(num)

[12, 24]

In [ ]:
c='r'
print("ascii value "+c+" is",ord(c))

ascii value r is 114

In [ ]:
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")
while True:
    choice = input("Enter choice(1/2/3/4): ")
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))

        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break

    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 1
Enter first number: 12
Enter second number: 34
12.0 + 34.0 = 46.0
Let's do next calculation? (yes/no): yes
Enter choice(1/2/3/4): 2
Enter first number: 13
Enter second number: 12
13.0 - 12.0 = 1.0
Let's do next calculation? (yes/no): no

In [ ]:
n1=36
n2=60
while n1!=n2:
  if n1>n2:
    n1-=n2
  else:
    n2-=n1
print("hcf of n1 and n2 is",n1)

hcf of n1 and n2 is 12

In [ ]:
m=int(input("enter month:"))
if m==2:
  print("28 days/29 days")
elif m in [1,3,5,7,8,10,12]:
  print("31 days")
else:
  print("30 days")

enter month:4
30 days

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if j==3 or i==1 or i==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
    *
    *
    *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(1,4):
    if j==1 or i==1 or (j==3 and i<=3) or i==3 or (i==4 and j==2) or (i==5 and j==3) :
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * *
*   *
* * *
* *
*   *

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if j==3 or i==1 or i==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
    *
    *
    *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(1,4):
    if j==1 or i==1 or (j==3 and i<=3) or i==3:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * *
*   *
* * *
*
*

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if j==1 or i==5 or j==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*       *
*       *
*       *
*       *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if j==1 or j==5 or i==j:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*       *
* *     *
*   *   *
*     * *
*       *

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if i==1 or j==3 or (i==5 and j<=3) or (i==4 and j==1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
    *
    *
*   *
* * *

In [ ]:
for i in range(1,5):
  for j in range(1,4):
    if (i==1 and j==2) or (i==2 and j==1) or (i==2 and j==3) or i==3 or (i>=2 and j==1) or (j==3 and i>=2):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

  *
*   *
* * *
*   *

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if j==3 or i==1 or i==5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
    *
    *
    *
* * * * *

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(i,end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(j,end=" ")
  print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for i in range(1,5):
  for j in range(i):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
n=5
for i in range(n):
  for j in range(i):
    print(j,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3

In [ ]:
n=[2,34,567]
s=""
for i in n:
  s+=str(i)
  res=[]
for i in s:
  res.append(int(i))
print(res)

[2, 3, 4, 5, 6, 7]

In [ ]:
n=int(input("enter a number"))

while n!=1:
    print(n)
    if n%2==0:
        n=n//2
    else:
        n=n*3+1

enter a number6
6
3
10
5
16
8
4
2

In [ ]:
stack=[]
def push():
  if len(stack)==n:
    print("stack is full!")
  else:
    element=int(input("enter a element:"))
    stack.append(element)
    print(stack)
def pop():
  if not stack:
    print("stack is empty")
  else:
    e=stack.pop()
    print("removed element:",e)
    print(stack)
n=int(input("enter stack size:"))
while True:
  print("enter the operation 1.push 2.pop 3.quit")
  choice=int(input("enter choice number:"))
  if choice==1:
    push()
  elif choice==2:
    pop()
  elif choice==3:
    break;
  else:
    print("enter the correct operation number:")

enter stack size:3
enter the operation 1.push 2.pop 3.quit
enter choice number:10
enter the correct operation number:
enter the operation 1.push 2.pop 3.quit
enter choice number:1
enter a element:20
[20]
enter the operation 1.push 2.pop 3.quit
enter choice number:1
enter a element:40
[20, 40]
enter the operation 1.push 2.pop 3.quit
enter choice number:1
enter a element:60
[20, 40, 60]
enter the operation 1.push 2.pop 3.quit
enter choice number:1
stack is full!
enter the operation 1.push 2.pop 3.quit
enter choice number:2
removed element: 60
[20, 40]
enter the operation 1.push 2.pop 3.quit
enter choice number:2
removed element: 40
[20]
enter the operation 1.push 2.pop 3.quit
enter choice number:2
removed element: 20
[]
enter the operation 1.push 2.pop 3.quit
enter choice number:2
stack is empty
enter the operation 1.push 2.pop 3.quit
enter choice number:3

In [ ]:
queue=[]
def enqueue():
  if len(queue)==n:
    print("queue is full!")
  else:
    element=int(input("enter a element:"))
    queue.append(element)
    print(queue)
def dequeue():
  if not queue:
    print("queue is empty")
  else:
    e=queue.dequeue(0)
    print("removed element:",e)
    print(queue)
def display():
  print(queue)
n=int(input("enter queue size:"))
while True:
  print("enter the operation 1.add 2.remove 3.display 4.exit")
  choice=int(input("enter choice number:"))
  if choice==1:
    push()
  elif choice==2:
    pop()
  elif choice==3:
    display()
  elif choice==4:
    break;
  else:
    print("enter the correct operation number:")

enter queue size:2
enter the operation 1.add 2.remove 3.display 4.exit
enter choice number:1
enter a element:10
[10]
enter the operation 1.add 2.remove 3.display 4.exit
enter choice number:1
enter a element:20
[10, 20]
enter the operation 1.add 2.remove 3.display 4.exit
enter choice number:1
stack is full!
enter the operation 1.add 2.remove 3.display 4.exit
enter choice number:2
removed element: 20
[10]
enter the operation 1.add 2.remove 3.display 4.exit
enter choice number:3
[]
enter the operation 1.add 2.remove 3.display 4.exit
enter choice number:4

1.abundant number

In [ ]:
n=int(input())
s=0
temp=n
for i in range(1,n):
  if n%i==0:
    s+=i
if s>n:
  print("abundant number")
else:
  print("not abundant number")

12
abundant number

2.prime number

In [ ]:
n=int(input())
c=0
for i in range(1,n+1):
  if n%i==0:
    c+=1
print(i)

if c==2:
  print(n, "is a prime number",end="")
else:
  print(n,"is not a prime number")

10
10
10 is not a prime number

3.perfect number

In [ ]:
n=int(input())
s=0
for i in range(1,n):
  if n%i==0:
    s+=i
if s==n:
  print("perfect number")
else:
  print("not perfect number")

20
not perfect number

4.harshad number

In [ ]:
n=int(input())
s=0
while n!=0:
  r=n%10
  s=s+r
  n=n//10

if n%s==0:
  print("harshad number")
else:
  print("not harshad number")

21
harshad number

5.strong number

In [ ]:
n=int(input())
temp=n
s=0
while n!=0:
  r=n%10
  f=1
  for i in range(1,r+1):
    f=f*i
  n=n//10
  s=s+f
print(s)
if s==temp:
  print("strong number")
else:
  print("not strong number")

145
145
strong number

6.palindrome number

In [ ]:
n=int(input())
temp=n
s=0
while n!=0:
  r=n%10
  s=s*10+r
  n=n//10
if s==temp:
  print("palindrome")
else:
  print("not palindrome")

121
palindrome

7.fibanocci series

In [ ]:
n=int(input())
n1=0
n2=1
print(n1,n2,end=" ")
for i in range(2,n+1):
  n3=n1+n2
  n1=n2
  n2=n3
  print(n3,end=" ")

10
0 1 1 2 3 5 8 13 21 34 55

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if  i==j :
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
  *
    *
      *
        *

In [ ]:
 n1=int(input())
 n2=int(input())
 n3=n1**3
 n4=n2**3
 s=n3+n4
 print(s)
 if s==1729:
  print(s,"ramanujan number")
else:
  print(s,"not a ramnujan number")

12
1
1729
1729 ramanujan number

In [ ]:
n1 = int(input())
n2=int(input())
l1=[]
l2=[]
for i in range(1,(n1//2)+1):
  if n1%i==0:
    l1.append(i)
for i in range(1,(n2//2)+1):
  if n2%i==0:
    l2.append(i)
if sum(l1)==n2 and sum(l2)==n1:
  print("amacable number")
else:
  print("not amacable number")

220
284
amacable number

In [ ]:
n=int(input())
t=n
s=0
for i in range(1,n):
  if n%i==0:
    s+=i
if n!=s:
  print("untouchable number")
else:
  print("not untouchable number")

52
untouchable number

In [ ]:
n1=int(input())
n2=int(input())
l1=[]
l2=[]
for i in range(1,n1+1):
  if n1%i==0:
    l1.append(i)
for i in range(1,n2+1):
  if n2%i==0:
    l2.append(i)
p1=sum(l1)//n1
p2=sum(l2)//n2
if p1==p2:
  print("friendly pair")
else:
  print("not friendly pair")

6
28
friendly pair

In [ ]:
n=int(input())
l=len(str(n))
s=pow(n,2)
print(s)
m=pow(10,l)
print(m)
if s%m==n:
  print("automorphic number")
else:
  print("not automorphic number")

25
625
100
automorphic number